@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .contactWrapper {
    width: 90%;
    top: 0;
    height: 100dvh;
    overflow: scroll;
  }
  .contactContent {
    flex-direction: row;
    padding-bottom: 0;
  }
}
