.nav-wrapper {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.left {
  border-radius: 0 20px 20px 0;
}
.right {
  border-radius: 20px 0 0 20px;
}
.top {
  border-radius: 0 0 20px 20px;
}
.bottom1 {
  border-radius: 20px 0 0 0;
}
.bottom2 {
  border-radius: 20px 20px 0 0;
}
.left1 {
  border-radius: 0 20px 0 0;
}
.iconwrap {
  background: rgb(200, 251, 81);
  background: radial-gradient(
    circle,
    rgba(200, 251, 81, 1) 0%,
    rgba(255, 255, 255, 0) 70%
  );
}
.iconani {
  animation: increase 3s forwards;
}
@keyframes increase {
  0% {
    width: 64px;
    height: 64px;
  }
  100% {
    width: 80px;
    height: 80px;
  }
}
.likeicon {
  animation: iconsize 1s forwards;
}
@keyframes iconsize {
  0% {
    scale: 1.3;
  }
  100% {
    scale: 1;
  }
}
body {
  background-color: #808080;
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles for landscape orientation */
  .mobileOrientation {
    position: relative !important;
    flex-direction: row !important;
    transform: unset !important;
    margin-bottom: 50px;
  }
  .rotateText {
    display: none !important;
  }
  .topNavSocial {
    display: flex !important;
  }
  .bottomSocial {
    display: none !important;
  }
  .scroll-icon {
    display: flex !important;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* The overlay to prevent clicks */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 10; /* Ensure it stays above the iframe */
}

.custom-lightbox .ril-prev-button {
  left: 0;
  background: rgba(0, 0, 0, 0.2)
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==)
    no-repeat center;
}
.custom-lightbox .ril-next-button {
  right: 0;
  background: rgba(0, 0, 0, 0.2)
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+)
    no-repeat center;
}
.custom-lightbox .ril-close {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=)
    no-repeat center;
}
.custom-lightbox .ril-zoom-out {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=)
    no-repeat center;
}
.custom-lightbox .ril-zoom-in {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+)
    no-repeat center;
}
.swiper-slide {
  width: auto !important;
  flex: 1 0 auto;
}
