.leave {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: 0;
}
.section-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}
